<div class="chart-wrapper">
  <div class="chart-container flex">
    <!-- Encabezado -->
    <div class="chart-header">
      <div class="flex justify-between items-center mb-2">
        <h2
          class="text-lg font-semibold font-poppins text-gray-900 text-center"
        >
          Tiempo/Actividad
        </h2>

        <!-- Filtro de Actividad -->
        <div class="chart-filters relative inline-block">
          <button
            class="flex items-center text-gray-700 text-sm font-medium py-1 px-4 rounded-full border border-gray-300 hover:bg-gray-100 transition"
            (click)="toggleActivityDropdown()"
          >
            <span class="material-icons mr-2" style="color: #28303f"
              >calendar_today</span
            >
            <span class="text-sm font-medium font-poppins">{{
              currentActivity.name
            }}</span>
            <span class="material-icons text-gray-500 ml-1">expand_more</span>
          </button>

          <!-- Dropdown -->
          <div
            *ngIf="activityDropdownOpen"
            class="absolute left-0 mt-1 w-40 bg-white rounded-lg shadow-lg z-10"
          >
            <button
              *ngFor="let activity of activities"
              [class.selected]="activity === currentActivity"
              (click)="selectActivity(activity)"
            >
              {{ activity.name }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Línea separadora -->
    <div class="border-t"></div>

    <!-- Contenedor Gráfico -->
    <div class="flex-1 relative">
      <div class="w-full h-full" echarts [options]="chartOptions"></div>
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <div class="flex justify-center">
          <div class="gradient-icon text-center">
            <span class="material-icons text-white text-base"
              >calendar_today</span
            >
          </div>
        </div>
        <h3 class="text-xl text-center font-bold font-poppins text-gray-900">
          {{ currentActivity.standard }}
        </h3>
        <p class="text-sm text-center font-medium text-gray-400">
          {{ currentActivity.evaluation }}
        </p>
      </div>
    </div>

    <!-- Descripción y Botones -->
    <div class="w-full text-center">
      <h4 class="text-base font-semibold font-poppins text-gray-900">
        {{ currentActivity.name }}
      </h4>
      <div class="flex justify-between items-center px-2">
        <button
          class="rounded-full gradient-button shadow-md transition"
          (click)="previousActivity()"
          aria-label="Actividad anterior"
        >
          <span class="material-icons text-white">chevron_left</span>
        </button>
        <p class="text-sm font-regular font-poppins text-gray-500">
          {{ currentActivity.installations }}
        </p>

        <button
          class="rounded-full gradient-button shadow-md transition"
          (click)="nextActivity()"
          aria-label="Actividad siguiente"
        >
          <span class="material-icons text-white">chevron_right</span>
        </button>
      </div>
    </div>
  </div>
</div>
