# Node artifact files
node_modules/
dist/
tmp/
out-tsc/

# IDEs and editors
.idea/
.vscode/

# Log files
*.log

# Environment files
/src/environments/*.ts

# Miscellaneous
*.tgz
*.zip

# Operating system files
.DS_Store
Thumbs.db

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
