<div class="mx-5">
  <!-- Contenedor de Aumento de Rendimiento Laboral -->
  <app-okr-cards></app-okr-cards>

  <!-- Contenedor de Gráficos Principales -->
  <div class="flex gap-4 mt-4">
    <!-- Componente para Número de Actividades Completadas -->
    <app-vertical-bar-chart class="flex-2 w-2/3"></app-vertical-bar-chart>

    <!-- Gráfico de Tiempo Promedio por Actividad -->
    <app-chart class="flex-1 w-1/3"></app-chart>
  </div>

  <!-- Contenedores Adicionales para llenar el espacio en la pantalla -->
  <div class="grid grid-cols-2 gap-4 mt-4">
    <div class="bg-white p-4 rounded-xl shadow-lg">
      <h2 class="text-xl font-bold mb-2">Chart Order</h2>
      <p class="text-gray-500 mb-4">
        Lorem ipsum dolor sit amet, consectetur adip
      </p>
      <button
        class="bg-blue-500 text-white font-semibold rounded-lg px-4 py-2 hover:bg-blue-600"
      >
        Save Report
      </button>
    </div>

    <div class="bg-white p-4 rounded-xl shadow-lg">
      <h2 class="text-xl font-bold mb-2">Tiempo promedio reportado</h2>
      <p class="text-gray-500 mb-2">
        Placeholder for Tiempo promedio reportado
      </p>
      <p class="text-gray-700 font-semibold">Sucursal Nuevo Cajamarca</p>
    </div>
  </div>
</div>
