<div class="dashboard">
  <!-- OKR Table (Columna Izquierda) -->
  <div class="okr-table">
    <app-okr-table></app-okr-table>
  </div>

  <!-- KPI Cards (Primera Fila de la Columna Derecha) -->
  <div class="kpi-cards">
    <app-kpi-cards></app-kpi-cards>
  </div>

  <!-- Vertical Bar Chart (Segunda Fila de la Columna Derecha) -->
  <div class="vertical-bar-chart">
    <app-vertical-bar-chart></app-vertical-bar-chart>
  </div>

  <!-- Chart y Report Bar Chart (Tercera Fila de la Columna Derecha) -->
  <div class="charts">
    <div class="chart">
      <app-chart></app-chart>
    </div>
    <div class="report-bar-chart">
      <app-report-bar-chart></app-report-bar-chart>
    </div>
  </div>
</div>
