.dashboard {
  display: grid; /* Activa CSS Grid */
  grid-template-areas:
    "okr-table kpi-cards"
    "okr-table vertical-bar-chart"
    "okr-table chart reported-bar-chart";
  grid-template-columns: 2fr 3fr; /* Columna izquierda (2/5), derecha (3/5) */
  grid-template-rows: 1fr 1.5fr 1.5fr; /* Tres filas ajustables */
  gap: 18px; /* Espaciado entre celdas */
  height: 100%; /* Ocupa toda la altura disponible */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.okr-table {
  grid-area: okr-table; /* Define que este componente ocupe la celda izquierda */
  background-color: transparent; /* Fondo transparente */
  overflow: hidden; /* Evita que el contenido desborde */
}

.kpi-cards {
  grid-area: kpi-cards; /* Define que este componente ocupe la celda derecha */
  background-color: transparent; /* Fondo transparente */
  overflow: hidden; /* Evita que el contenido desborde */
}

.vertical-bar-chart {
  grid-area: vertical-bar-chart; /* Asegura que esté correctamente ubicado en el grid */
  background-color: transparent; /* Fondo transparente */
  overflow: hidden; /* Evita desbordamientos visibles */
}

.chart-left {
  grid-area: chart; /* Asegura que esté correctamente ubicado en el grid */
  background-color: transparent; /* Fondo transparente */
  overflow: hidden; /* Evita desbordamientos visibles */
}
.chart-right {
  grid-area: reported-bar-chart;
  background-color: transparent; /* Fondo opcional */
  overflow: hidden; /* Evita desbordamiento */
}
