.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.navbar h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.navbar p {
  font-size: 1rem;
  color: #9ca3af;
}

img {
  border-radius: 50%;
}
