<div class="vertical-bar-chart-wrapper">
  <div class="vertical-bar-chart-container">
    <!-- Encabezado Fijo -->
    <div class="flex justify-between items-center">
      <!-- Título -->
      <div class="chart-title">
        <h2 class="text-lg font-poppins font-semibold text-gray-800">
          Nº Actividades Completadas
        </h2>
      </div>

      <!-- Filtros -->
      <div class="chart-filters">
        <!-- Botón de ubicación -->
        <button
          class="flex items-center text-gray-700 text-sm font-medium py-1 px-4 rounded-full border border-gray-300 hover:bg-gray-100 transition"
        >
          <span class="material-icons mr-2 text-gray-700" style="color: #28303f"
            >pin_drop</span
          >
          El Porvenir
          <span class="material-icons ml-1" style="color: #28303f"
            >expand_more</span
          >
        </button>

        <!-- Filtro de tiempo -->
        <div class="relative inline-block">
          <button
            class="flex items-center text-gray-700 text-sm font-medium py-1 px-4 rounded-full border border-gray-300 hover:bg-gray-100 transition"
            (click)="toggleDropdown()"
          >
            <span
              class="material-icons mr-2 text-gray-600"
              style="color: #28303f"
              >calendar_today</span
            >
            {{ getCurrentViewLabel() }}
            <span
              class="material-icons ml-1 text-gray-600"
              style="color: #28303f"
              >expand_more</span
            >
          </button>

          <!-- Dropdown -->
          <div
            *ngIf="dropdownOpen"
            class="absolute left-0 mt-1 w-40 bg-white rounded-lg shadow-lg z-10"
          >
            <button
              *ngFor="let view of views"
              class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              (click)="selectView(view)"
            >
              {{ view.label }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Separador -->
    <div class="border-t border-gray-200 mb-1 mt-1"></div>

    <!-- Contenedor Gráfico -->
    <div class="flex-1">
      <div class="w-full h-full" echarts [options]="chartOptions"></div>
    </div>
  </div>
</div>
