<!-- <div class="relative bg-white p-4 rounded-xl shadow-lg">
  <div class="absolute top-4 right-4 flex space-x-2">
    <button
      class="flex items-center bg-gray-100 text-gray-700 text-xs font-semibold py-1 px-3 rounded-full hover:bg-gray-200"
    >
      <span class="material-icons text-sm">location_on</span>
      El Porvenir
    </button>
    <button
      (click)="toggleView()"
      class="flex items-center bg-gray-100 text-gray-700 text-xs font-semibold py-1 px-3 rounded-full hover:bg-gray-200"
    >
      <span class="material-icons text-sm">calendar_today</span>
      {{
        currentView === "monthly"
          ? "Mensual"
          : currentView === "quarterly"
          ? "Trimestral"
          : "Anual"
      }}
    </button>
  </div>

  <h2 class="text-xl font-bold mb-4 text-gray-700">
    Número de actividades completadas
  </h2>

  <div class="flex justify-center mb-4">
    <igx-legend #legend orientation="Horizontal"></igx-legend>
  </div>

  <igx-category-chart
    #chart
    [dataSource]="activityData"
    chartType="Column"
    [legend]="legend"
    xAxisInterval="1"
    [xAxisTitle]="
      currentView === 'monthly'
        ? 'Mes'
        : currentView === 'quarterly'
        ? 'Trimestre'
        : 'Año'
    "
    yAxisTitle="Actividades"
    yAxisTitleLeftMargin="10"
    yAxisTitleRightMargin="5"
    yAxisLabelLeftMargin="0"
    isHorizontalZoomEnabled="false"
    isVerticalZoomEnabled="false"
    isCategoryHighlightingEnabled="true"
    crosshairsDisplayMode="None"
    class="w-full h-72"
  ></igx-category-chart>
</div> -->

<div class="relative bg-white p-4 rounded-xl shadow-lg">
  <!-- Botones en la esquina superior derecha del contenedor -->
  <div class="absolute top-4 right-4 flex space-x-2">
    <button
      class="flex items-center bg-gray-100 text-gray-700 text-xs font-semibold py-1 px-3 rounded-full hover:bg-gray-200"
    >
      <span class="material-icons text-sm">location_on</span>
      El Porvenir
    </button>
    <button
      (click)="toggleView()"
      class="flex items-center bg-gray-100 text-gray-700 text-xs font-semibold py-1 px-3 rounded-full hover:bg-gray-200"
    >
      <span class="material-icons text-sm">calendar_today</span>
      {{
        currentView === "monthly"
          ? "Mensual"
          : currentView === "quarterly"
          ? "Trimestral"
          : "Anual"
      }}
    </button>
  </div>

  <h2 class="text-xl font-bold mb-4 text-gray-700">
    Número de actividades completadas
  </h2>

  <div class="flex justify-center mb-4">
    <igx-legend #legend orientation="Horizontal"></igx-legend>
  </div>

  <igx-category-chart
    #chart
    [dataSource]="activityData"
    chartType="Column"
    [legend]="legend"
    xAxisInterval="1"
    [xAxisGap]="0.4"
    [xAxisLabelAngle]="-20"
    [xAxisTitle]="
      currentView === 'monthly'
        ? 'Mes'
        : currentView === 'quarterly'
        ? 'Trimestre'
        : 'Año'
    "
    yAxisTitle="Actividades"
    yAxisTitleLeftMargin="10"
    yAxisTitleRightMargin="5"
    yAxisLabelLeftMargin="0"
    [yAxisInterval]="10"
    isHorizontalZoomEnabled="false"
    isVerticalZoomEnabled="false"
    isCategoryHighlightingEnabled="true"
    crosshairsDisplayMode="None"
    class="w-full h-72"
  ></igx-category-chart>
</div>
