<div class="search-bar flex justify-between items-center mb-4">
  <app-searchbar (searchChange)="filterEmployees($event)"></app-searchbar>
  <div class="actions flex">
    <app-create-button
      [buttonLabel]="'Agregar Nuevo Empleado'"
      [icon]="'plus'"
    ></app-create-button>
    <app-filter></app-filter>
  </div>
</div>

<div class="bg-white p-6 rounded-lg shadow-lg">
  <table mat-table [dataSource]="filteredEmployees" class="mat-elevation-z8">
    <!-- Foto de Perfil Column -->
    <ng-container matColumnDef="profilePicture">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element.profilePicture"
          alt="Foto de {{ element.name }}"
          width="50"
          height="50"
          class="rounded-full"
        />
      </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- DNI Column -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef>DNI</th>
      <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
    </ng-container>

    <!-- Sucursal Column -->
    <ng-container matColumnDef="branchOffice">
      <th mat-header-cell *matHeaderCellDef>Sucursal</th>
      <td mat-cell *matCellDef="let element">{{ element.branchOffice }}</td>
    </ng-container>

    <!-- Tipo de Usuario Column -->
    <ng-container matColumnDef="userType">
      <th mat-header-cell *matHeaderCellDef>Tipo de Usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.userType }}</td>
    </ng-container>

    <!-- Jornada Column -->
    <ng-container matColumnDef="journey">
      <th mat-header-cell *matHeaderCellDef>Jornada</th>
      <td mat-cell *matCellDef="let element">{{ element.journey }}</td>
    </ng-container>

    <!-- Contrato Column -->
    <ng-container matColumnDef="contract">
      <th mat-header-cell *matHeaderCellDef>Contrato</th>
      <td mat-cell *matCellDef="let element">{{ element.contract }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
