<div class="search-bar flex justify-between items-center mb-4">
  <app-searchbar (searchChange)="filterEmployees($event)"></app-searchbar>
  <div class="actions flex">
    <app-create-button
      [buttonLabel]="'Agregar Nuevo Empleado'"
      [icon]="'plus'"
    ></app-create-button>
    <app-filter></app-filter>
  </div>
</div>

<!-- Lista de empleados -->
<app-list
  [data]="paginatedEmployees"
  [columnsConfig]="[
    { key: 'profilePicture', header: '' },
    { key: 'name', header: 'Nombre' },
    { key: 'dni', header: 'DNI' },
    { key: 'branchOffice', header: 'Sucursal' },
    { key: 'userType', header: 'Tipo de Usuario' },
    { key: 'journey', header: 'Jornada' },
    { key: 'contract', header: 'Contrato' }
  ]"
></app-list>

<!-- MatPaginator control -->
<app-paginator
  [length]="totalEmployees"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  (pageChange)="handlePageEvent($event)"
  aria-label="Seleccionar página"
></app-paginator>
