<div class="employee-wrapper">
  <!-- Searchbar -->
  <app-employee-searchbar (search)="filterEmployees($event)">
  </app-employee-searchbar>

  <!-- Filter -->
  <app-employee-searchbar
    (search)="filterEmployees($event)"
  ></app-employee-searchbar>

  <!-- Employee List -->
  <app-employee-list [employees]="employees"> </app-employee-list>

  <!-- Paginator -->
  <app-employee-paginator
    [length]="totalEmployees"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (pageChange)="handlePageEvent($event)"
  >
  </app-employee-paginator>
</div>
