<aside sidebar>
  <div class="flex items-center justify-center mb-8">
    <p class="text-xl font-bold text-gray-800">E-Tracker</p>
  </div>
  <nav>
    <ul>
      <li class="mb-6">
        <button
          class="flex items-center p-2.5 text-base transition-colors duration-300 w-full rounded-lg"
          [ngClass]="{
            'bg-indigo-600 text-white': selectedSection === 'dashboard',
            'hover:bg-indigo-600 hover:text-white': true
          }"
          (click)="navigateTo('dashboard')"
        >
          <span class="material-icons text-xl text-gray-600">dashboard</span>
          <span class="ml-4 font-bold font-poppins text-gray-600"
            >Dashboard</span
          >
        </button>
      </li>
      <li class="mb-6">
        <button
          class="flex items-center p-2.5 text-base transition-colors duration-300 w-full rounded-lg"
          [ngClass]="{
            'bg-indigo-600 text-white': selectedSection === 'activity-board',
            'hover:bg-indigo-600 hover:text-white': true
          }"
          (click)="navigateTo('activity-board')"
        >
          <span class="material-icons text-xl text-gray-600">view_column</span>
          <span class="ml-4 font-bold font-poppins text-gray-600"
            >Tablero de Actividades</span
          >
        </button>
      </li>
      <li class="mb-6">
        <button
          class="flex items-center p-2.5 text-base transition-colors duration-300 w-full rounded-lg"
          [ngClass]="{
            'bg-indigo-600 text-white': selectedSection === 'employees',
            'hover:bg-indigo-600 hover:text-white': true
          }"
          (click)="navigateTo('employees')"
        >
          <span class="material-icons text-xl text-gray-600">people</span>
          <span class="ml-4 font-bold font-poppins text-gray-600"
            >Empleados</span
          >
        </button>
      </li>
      <li class="mb-6">
        <button
          class="flex items-center p-2.5 text-base transition-colors duration-300 w-full rounded-lg"
          [ngClass]="{
            'bg-indigo-600 text-white': selectedSection === 'activities',
            'hover:bg-indigo-600 hover:text-white': true
          }"
          (click)="navigateTo('activities')"
        >
          <span class="material-icons text-xl text-gray-600">assignment</span>
          <span class="ml-4 font-bold font-poppins text-gray-600"
            >Actividades</span
          >
        </button>
      </li>
      <li class="mb-6">
        <button
          class="flex items-center p-2.5 text-base transition-colors duration-300 w-full rounded-lg"
          [ngClass]="{
            'bg-indigo-600 text-white': selectedSection === 'assignments',
            'hover:bg-indigo-600 hover:text-white': true
          }"
          (click)="navigateTo('assignments')"
        >
          <span class="material-icons text-xl text-gray-600">assignment</span>
          <span class="ml-4 font-bold font-poppins text-gray-600"
            >Asignaciones</span
          >
        </button>
      </li>
      <li class="mb-6">
        <button
          class="flex items-center p-2.5 text-base transition-colors duration-300 w-full rounded-lg"
          [ngClass]="{
            'bg-indigo-600 text-white': selectedSection === 'branches',
            'hover:bg-indigo-600 hover:text-white': true
          }"
          (click)="navigateTo('branches')"
        >
          <span class="material-icons text-xl text-gray-600">business</span>
          <span class="ml-4 font-bold font-poppins text-gray-600"
            >Sucursales</span
          >
        </button>
      </li>
      <li class="mb-6">
        <button
          class="flex items-center p-2.5 text-base transition-colors duration-300 w-full rounded-lg"
          [ngClass]="{
            'bg-indigo-600 text-white': selectedSection === 'supplies',
            'hover:bg-indigo-600 hover:text-white': true
          }"
          (click)="navigateTo('supplies')"
        >
          <span class="material-icons text-xl text-gray-600">inventory</span>
          <span class="ml-4 font-bold font-poppins text-gray-600"
            >Suministros</span
          >
        </button>
      </li>
      <li class="mb-6">
        <button
          class="flex items-center p-2.5 text-base transition-colors duration-300 w-full rounded-lg"
          [ngClass]="{
            'bg-indigo-600 text-white': selectedSection === 'okrs',
            'hover:bg-indigo-600 hover:text-white': true
          }"
          (click)="navigateTo('okrs')"
        >
          <span class="material-icons text-xl text-gray-600">check_circle</span>
          <span class="ml-4 font-bold font-poppins text-gray-600">OKRs</span>
        </button>
      </li>
    </ul>
  </nav>
</aside>
