<div class="flex gap-5 p-5 box-border">
  <aside
    class="bg-gray-100 p-4 rounded-2xl min-h-[calc(100vh-40px)] shadow-lg fixed h-full m-2"
    style="background-color: #1e3a8a; width: 200px"
  >
    <div class="flex items-center justify-center mb-8">
      <p class="text-xl font-bold text-white">E-Tracker</p>
    </div>
    <nav>
      <ul>
        <li class="mb-6">
          <button
            class="flex items-center p-2.5 text-base transition-colors duration-300 text-white w-full rounded-lg"
            [ngClass]="{
              'bg-indigo-600': selectedSection === 'dashboard',
              'hover:bg-indigo-600': true
            }"
            (click)="navigateTo('dashboard')"
          >
            <span class="material-icons text-xl">dashboard</span>
            <span class="ml-4">Dashboard</span>
          </button>
        </li>
        <li class="mb-6">
          <button
            class="flex items-center p-2.5 text-base transition-colors duration-300 text-white w-full rounded-lg"
            [ngClass]="{
              'bg-indigo-600': selectedSection === 'activity-board',
              'hover:bg-indigo-600': true
            }"
            (click)="navigateTo('activity-board')"
          >
            <span class="material-icons text-xl">view_column</span>
            <span class="ml-4">Tablero de Actividades</span>
          </button>
        </li>
        <li class="mb-6">
          <button
            class="flex items-center p-2.5 text-base transition-colors duration-300 text-white w-full rounded-lg"
            [ngClass]="{
              'bg-indigo-600': selectedSection === 'employees',
              'hover:bg-indigo-600': true
            }"
            (click)="navigateTo('employees')"
          >
            <span class="material-icons text-xl">people</span>
            <span class="ml-4">Empleados</span>
          </button>
        </li>
        <li class="mb-6">
          <button
            class="flex items-center p-2.5 text-base transition-colors duration-300 text-white w-full rounded-lg"
            [ngClass]="{
              'bg-indigo-600': selectedSection === 'activities',
              'hover:bg-indigo-600': true
            }"
            (click)="navigateTo('activities')"
          >
            <span class="material-icons text-xl">assignment</span>
            <span class="ml-4">Actividades</span>
          </button>
        </li>
        <li class="mb-6">
          <button
            class="flex items-center p-2.5 text-base transition-colors duration-300 text-white w-full rounded-lg"
            [ngClass]="{
              'bg-indigo-600': selectedSection === 'assignments',
              'hover:bg-indigo-600': true
            }"
            (click)="navigateTo('assignments')"
          >
            <span class="material-icons text-xl">assignment</span>
            <span class="ml-4">Asignaciones</span>
          </button>
        </li>
        <li class="mb-6">
          <button
            class="flex items-center p-2.5 text-base transition-colors duration-300 text-white w-full rounded-lg"
            [ngClass]="{
              'bg-indigo-600': selectedSection === 'branches',
              'hover:bg-indigo-600': true
            }"
            (click)="navigateTo('branches')"
          >
            <span class="material-icons text-xl">business</span>
            <span class="ml-4">Sucursales</span>
          </button>
        </li>
        <li class="mb-6">
          <button
            class="flex items-center p-2.5 text-base transition-colors duration-300 text-white w-full rounded-lg"
            [ngClass]="{
              'bg-indigo-600': selectedSection === 'supplies',
              'hover:bg-indigo-600': true
            }"
            (click)="navigateTo('supplies')"
          >
            <span class="material-icons text-xl">inventory</span>
            <span class="ml-4">Suministros</span>
          </button>
        </li>
        <li class="mb-6">
          <button
            class="flex items-center p-2.5 text-base transition-colors duration-300 text-white w-full rounded-lg"
            [ngClass]="{
              'bg-indigo-600': selectedSection === 'okrs',
              'hover:bg-indigo-600': true
            }"
            (click)="navigateTo('okrs')"
          >
            <span class="material-icons text-xl">check_circle</span>
            <span class="ml-4">OKRs</span>
          </button>
        </li>
      </ul>
    </nav>
  </aside>
</div>
