.sidebar button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar button:hover {
  background-color: #2a4ea5;
}

.sidebar .active {
  background-color: #344fa1;
}
