<div class="search-bar flex justify-between items-center mb-4">
  <app-searchbar (searchChange)="filterActivities($event)"></app-searchbar>
  <div class="actions flex">
    <app-create-button
      [buttonLabel]="'Agregar Nueva Actividad'"
      [icon]="'plus'"
    ></app-create-button>
    <app-filter></app-filter>
  </div>
</div>

<!-- Lista de actividades -->
<app-list
  [data]="paginatedActivities"
  [columnsConfig]="[
    { key: 'name', header: 'Nombre' },
    { key: 'description', header: 'Descripción' },
    { key: 'date', header: 'Fecha' }
  ]"
></app-list>

<!-- Paginación -->
<app-paginator
  [length]="totalActivities"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  (pageChange)="handlePageEvent($event)"
  aria-label="Seleccionar página"
></app-paginator>
