.filter-button {
  background-color: #f8f9fa;
  color: #212529;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #e2e6ea;
}

.icon-filter {
  font-size: 18px;
}
