/* Tailwind Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajuste del borde de Material Design Components */
.mdc-notched-outline__notch {
  border-right: none;
}

/* Variables globales */
:root {
  --bg-color: #ffffff; /* Fondo claro */
  --text-color: #111827; /* Texto más oscuro */
}

/* Modo oscuro */
.dark {
  --bg-color: #1f2937; /* Fondo oscuro */
  --text-color: #f3f4f6; /* Texto claro */
}

/* Estilos globales */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Evita que el contenido desborde */
  font-family: "Poppins", sans-serif;
  background-color: #ffffff; /* Fondo transparente */
  color: var(--text-color); /* Texto basado en variables */
}

/* Contenedor raíz de la aplicación */
#root,
.app-container {
  height: 100vh; /* Ocupa todo el alto de la ventana */
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  display: flex;
  flex-direction: column;
}

/* Ajuste del layout principal */
.app-layout {
  display: grid;
  grid-template-areas:
    "sidebar app-navbar"
    "sidebar content";
  grid-template-rows: 64px auto;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

/* Estilos para el sidebar */
.sidebar {
  grid-area: sidebar; /* Si estás usando CSS Grid y tienes una estructura que lo necesita */
  padding: 1rem; /* Espaciado interno */
  overflow-y: auto; /* Scroll interno para contenido largo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fafafa; /* Fondo claro */
  width: 300px; /* Ancho del sidebar */
  border: 1px solid #dfe1e7; /* Borde de color suave */
  border-top-right-radius: 25px; /* Bordes redondeados superiores */
  border-bottom-right-radius: 25px; /* Bordes redondeados inferiores */
  height: 100%; /* Ocupa toda la altura de la ventana */
}

/* Estilos para el navbar */
.app-navbar {
  grid-area: app-navbar; /* Define su posición dentro del grid layout */
  display: flex; /* Flexbox para alineación horizontal */
  align-items: center; /* Centrado vertical */
  justify-content: space-between; /* Espaciado entre el título y el botón */
  background-color: transparent; /* Fondo transparente */
  height: 64px; /* Altura fija */
}

.none {
  grid-area: none;
}

/* Estilos para el contenido principal */
.content {
  grid-area: content;
  background-color: transparent; /* Fondo transparente */
  overflow-y: auto; /* Evita scroll interno */
  padding: 16px; /* Espaciado interno */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .app-layout {
    grid-template-columns: 1fr; /* Solo contenido principal */
    grid-template-rows: 64px auto; /* Navbar y contenido principal */
    grid-template-areas:
      "navbar"
      "content";
  }

  .sidebar {
    display: none; /* Oculta el sidebar en pantallas pequeñas */
  }
}
