@tailwind base;
@tailwind components;
@tailwind utilities;

.mdc-notched-outline__notch {
  border-right: none;
}

/* Variables globales */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

/* Estilos globales */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; /* Tamaño de fuente estándar */
  color: #000; /* Color estándar de texto */
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
